Given n men and n women, where each person has ranked all potential mates (from the opposite sex), match those people so that no two people of opposite sex would both rather have each other than their current partners.

In [4]:
!ls

'Preference List.xlsx'
 README.md
'Stable Marriage Problem, Matching Algorithm, Galey-Shapley Algorithm.ipynb'

In [24]:
import pandas as pd
df_people = pd.read_excel("Preference List.xlsx")
type(df_people.loc[0, "Preferences"])

str

In [16]:
df_people["Preferences"].str.split(",", expand=False)[0]

AttributeError: 'list' object has no attribute 'type'

In [27]:
df_people["Preferences"] = df_people["Preferences"].str.split(", ", expand=False)
df_people.loc

       Name Gender                               Preferences  Partner
0      Anne      f  [Dieter, Emil, Claudio, Berthold, Anton]      NaN
1     Berta      f  [Dieter, Emil, Claudio, Berthold, Anton]      NaN
2   Claudia      f  [Berthold, Anton, Dieter, Emil, Claudio]      NaN
3     Diana      f  [Claudio, Berthold, Anton, Dieter, Emil]      NaN
4     Fiona      f  [Dieter, Emil, Claudio, Berthold, Anton]      NaN
5     Anton      m      [Claudia, Fiona, Diana, Berta, Anne]      NaN
6  Berthold      m      [Claudia, Fiona, Diana, Berta, Anne]      NaN
7   Claudio      m      [Berta, Anne, Claudia, Fiona, Diana]      NaN
8    Dieter      m      [Diana, Berta, Anne, Claudia, Fiona]      NaN
9      Emil      m      [Fiona, Diana, Berta, Anne, Claudia]      NaN

## Implementation of the Galey-Shapley Algorithm

Every free men gets a women according to his preference (if it is still free). Assign women to men by iterating over all men.

If a woman is not free, and she finds that she linked the proposing man more than her current partner, then she takes the proposing man.

Repeat the entire process over and over until everybody is married